body {

    background-color: #ff0066;

    color: #c70039;

    font-family: "Lora", serif;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 700px;

    margin: 0;

}



button {

    background-color: #f72c6f;

    color: #c70039;

    font-family: "Lora", serif;

}



.passo {

    display: none;

}



.passo.ativo {

    display:block;

}



main {

    text-align: center;

    max-width: 90%;

}



img {

    max-width: 90%;

}